
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #46696d;
  margin:0px auto;
  padding: 20px 0px 20px 0px;

}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #f7e7e2;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}
/* Header Color */
.navbar-light {
  background-color: #67989d;
}

.navbar-light .navbar-nav .nav-item a{
  color: black;
}

.navbar-light .navbar-nav .nav-item button{
  color: black;
  border-color: black;
  background-color: transparent;
}
.navbar-light .navbar-nav .nav-item button:hover{
  background-color: #46696d;
}

.navbar-light .navbar-nav .nav-item .active{
  background-color: #46696d;
  border-radius: 10%;
}
/*  */
.page-enter{
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit{
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-activate{
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.black{
  color: rgba(50, 43, 43, 0.727);
}


