.card{
    background-color: #46696d;
    border-color: red;
    color: white;

}

.card img{
    height: 150px;
    width: 100%;
}

.card-title{
    text-align: center;
    font-weight: bold;
}

.carousel-item img{
    height: 150px;
    width: 100%;
}