.card{
    background-color: #46696d;
    /* border-color: red; */
    color: white;

}

.card img{
    height: 250px;
    width: 100%;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.carousel-item img{
    height: 300px;
    width: 40%;
}