.media-object{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* img.MuiAvatar-img{
    border-color: red;
    height: 300px;
    width: 300px;
} */
.ava{
    border-radius: 50%;
    width:250px ;
    height:250px; 
}

/* .description_box{
    border-style: groove;
} */